apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kubernetes-dashboard-ingress
  namespace: kube-system
spec:
  rules:
  - host: {{ master_public_dns }}
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: 32000
        path: /

